body {
    background-image: url('./assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-custom {
    background-color: #4CAF50;
    height: 90px;
}
.nanbar-text{
    color: #ffffff;
}
.card {
    background-color: #d9f2d9;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 140px;
    border-radius: 10px;
    width: 446px;
    height: 606px;
}
.quiz-card{
    background-color: #d9f2d9;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    border-radius: 10px;
}

.card-title {
    color: #4CAF50;
}

.btn-custom {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 136px;
    height: 39.84px;
    margin-top: 20px;
    
}

.btn-custom:hover {
    background-color: #45a049;
}

.content-wrapper {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#quizContainer .card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

#timer {
    position: absolute;
    top: 10px;
    right: 20px;
}

#nextButton {
    display: none;
}
